header {
    position: fixed;
    width: 100vw;
    background-color: #101010;
    height: 60px;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 100vw;
}

nav .nav__title {
    display: flex;
    font-size: 20px;
    font-family: "Fredoka", sans-serif;
    padding-right: 579px;
}

nav .nav__title .link {
    display: flex;
    padding: 15px;
    text-decoration: none;
    color: #ffba08;
    overflow: hidden;
}

nav .nav__btn {
    display: flex;
    font-size: 17px;
    padding: 15px;
    font-family: "Fredoka", sans-serif;
}

nav .nav__btn .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: #101010;
    width: 160px;
    height: 36px;
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(45deg, #ffba08, #a0f64e, #b9ea44, #a4e12a);
    background-size: 500% 100%;
    animation: btnDegrade 2s infinite alternate;
}

nav .nav__btn .btn:hover {
    transform: scale(1.1);
    transition: 500ms ease-in-out;
}

@keyframes btnDegrade {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
}

/*nav .nav__btn .btn:hover {*/
/*    background: linear-gradient(45deg, #ff9f1c, #bd8c17);*/
/*    background-size: 500% 100%;*/
/*    transform: scale(1.1);*/
/*    transition: 500ms ease-in-out;*/
/*    transition-delay: 40ms;*/
/*}*/