header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    height: 80px;
    width: 100%;
    background-color: #101010;
}

header .header__title {
    display: flex;
    font-size: 20px;
    font-family: "Fredoka", sans-serif;
    padding-right: 579px;
}

header .header__title .link {
    display: flex;
    padding: 15px;
    text-decoration: none;
    color: #f5f2f2;
    overflow: hidden;
    border: none;

}

header .header__btn {
    display: flex;
    font-size: 17px;
    padding: 15px;
    font-family: "Fredoka", sans-serif;
}

header .header__btn .btnCV {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    position: relative;
    color: #f5f2f2;
    width: 160px;
    height: 36px;
    border: none;
    border-radius: 4px;
    background-color: #101010;
}

header .header__btn .btnCV::before, .btnCV::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background-image: linear-gradient(45deg, #48cae4, #669bbc, #f5f2f2);
    background-size: 300%;
    border-radius: 4px;
    animation: btnCV_animate 15s linear infinite;
}

@keyframes btnCV_animate {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 300%;
    }
}

header .header__btn .btnCV::after {
    filter: blur(0.6rem);
}